# KATA 6
## Ejercicio 1

In [1]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']

In [3]:
print('First planet is', planets[0])
print('Second planet is', planets[1])
print('Last planet is', planets[7])

First planet is Mercurio
Second planet is Venus
Last planet is Neptuno

In [4]:
planets[3] = 'El planeta rojo'

print('Marte es también conocido como', planets[3])

Marte es también conocido como El planeta rojo

In [7]:
n_planets = len(planets)

print('Hay', n_planets, 'planetas en el sistema solar')

Hay 8 planetas en el sistema solar

In [30]:
planets.append('Plutón')

n_planets = len(planets)

print('Hay', n_planets, 'planetas en el sistema solar')

Hay 9 planetas en el sistema solar

In [31]:
planets.pop()

n_planets = len(planets)

print('Definitivamente hay', n_planets, 'planetas en el sistema solar y son:', planets)

Definitivamente hay 8 planetas en el sistema solar y son: ['Mercurio', 'Venus', 'Tierra', 'El planeta rojo', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']

In [33]:
print('El último planeta del sistema solar es', planets[-1])
print('El séptimo planeta del sistema solar es', planets[-2])

El último planeta del sistema solar es Neptuno
El séptimo planeta del sistema solar es Urano

In [38]:
ti = planets.index('Tierra')
print('La Tierra es el', ti + 1,'er planeta del sistema solar.')

La Tierra es el 3 er planeta del sistema solar.

In [39]:
g = 1.0
gMoon = 0.166

In [40]:
gravedad_planetas =[0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [47]:
bus_w = 12650   # en kilogramos
print('En la Tierra un autobús de dos pisos pesa', bus_w, 'kg.\nEn Mercurio, el mismo autobús pesa', bus_w * gravedad_planetas[0], 'kg.')

En la Tierra un autobús de dos pisos pesa 12650 kg.
En Mercurio, el mismo autobús pesa 4781.7 kg.

In [48]:
bus_w = 12650   # en kilogramos
print('En la Tierra un autobús de dos pisos pesa', bus_w, 'kg.\nLo mínimo que pesaría el autobús en otro planeta del sistema solar son', bus_w * min(gravedad_planetas), 'kg.\nLo máximo que podría pesar el mismo autobús en otro planeta del sistema solar son', bus_w * max(gravedad_planetas), 'kg.')

En la Tierra un autobús de dos pisos pesa 12650 kg.
Lo mínimo que pesaría el autobús en otro planeta del sistema solar son 4781.7 kg.
Lo máximo que podría pesar el mismo autobús en otro planeta del sistema solar son 29854.0 kg.

In [49]:
p_be = planets[0:2]
print(p_be)

['Mercurio', 'Venus']

In [55]:
p_ae = planets[3:]
print(p_ae)

['El planeta rojo', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']

In [56]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [57]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [58]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']