# KATA 8
## Ejercicio 1

In [69]:
planet = {
    'name': 'Marte',
    'moons': 42
}

In [71]:
print(f'{planet["name"]} tiene un total de {planet["moons"]} lunas.')

Marte tiene un total de 42 lunas.

In [77]:
planet['circunference'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [78]:
print(planet)

{'name': 'Marte', 'moons': 42, 'circunference': {'polar': 6752, 'equatorial': 6792}}

In [81]:
print(f'La circunferencia polar de {planet["name"]} es de {planet["circunference"]["polar"]} kilometeros.')

La circunferencia polar de Marte es de 6752 kilometeros.

In [58]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [83]:
moons = planet_moons.values()
planets = len(planet_moons)

In [61]:
total_moons = 0

for value in planet_moons.values():
    total_moons = total_moons + value

print(f'Hay un total de {total_moons} lunas en el sistema solar.')

Hay un total de 214 lunas en el sistema solar.

In [84]:
print(f'En promedio hay {total_moons / planets} lunas por planeta en el sistema solar.')

En promedio hay 17.833333333333332 lunas por planeta en el sistema solar.